[submodule "external/HavokLib"]
	path = external/HavokLib
	url = https://github.com/PredatorCZ/HavokLib
[submodule "external/bsreader"]
	path = external/bsreader
	url = git@github.com:betstick/bsreader.git
[submodule "external/zlib"]
	path = external/zlib
	url = https://github.com/madler/zlib
